.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
    border: none;
}

.icon-config {
	width: 0.857421875em;
}

.icon-minimise {
	width: 0.927734375em;
}

.icon-maximise {
	width: 0.7998046875em;
}

.icon-close {
	width: 0.8173828125em;
}

.icon-help {
	width: 0.580078125em;
}
