@import '../styles/colours';
@import '../styles/icons';

body {
	padding: 0px;
	margin: 0px;
	color: #fff;
	background-color: $panel;
	border: 1px solid $border;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	flex-flow: column;	
}

window{
  display: flex;
	flex-flow: column;	
  flex:1;
}

#title-bar {
	-webkit-app-region: drag;
	height: 32px;	
	padding: 0px;
  margin: 0px;
}

#title {
	position: fixed;
	top: 0px;
	left: 12px;	
	line-height: 32px;
	font-size: 14px;
}

#title-bar-btns {
	-webkit-app-region: no-drag;
	position: fixed;
	top: 1px;
	right: 0px;	
}

#title-bar-btns button {
	height: 32px;
	width: 32px;
	background-color: transparent;
	border: none;
	color: #F1F1F1;
	font-size: 16px;
}

#title-bar-btns button:hover {
	background-color: $panel-light;
}

#content
{
  background-color: lightsalmon;
  display: flex;
  flex-direction: column;
  flex: 1;
}
